<div class="order_list02">
    <div>
        <a class="order_back" href="#">< 뒤로</a>
        <div class="order_info01">
            <h3>주문 내역</h3>
            <p>주문 번호(iSell 번호) : <span class="order_iSellno">1718571319</span></p>
            <div class="order_conditionbox">
                <p class="order_condition">주문이 취소 되었습니다.</p>
            </div>
        </div>
    </div>
    <hr/>
    <div class="order_info02">
        <p>
            <b>주문 날짜</b><br/>
            <span class="order_date">2020-10-31 16:25</span><br/>
            <b>주문 번호(iSell 번호)</b><br/>
            <span class="order_iSellno">171857319</span><br/>
            <b>최종 결제 금액</b><br/>
            &#8361; <span class="order_totalprice">74,000</span>
        </p>
    </div>
    <hr/>
    <div class="order_info03">
        <h4>제품</h4>
        <a href="#"><b><span class="order_product">+</span></b></a><br/>
        <div class="order_hidden">
            <form class="order_itemlist">
                <img class="order_item_img">
                <div class="order_item">
                    <span class="order_item_title"></span><br/>
                    <span class="order_item_info"></span><br/>
                    <span class="order_item_productno"></span><br/>
                    <span class="order_item_price"></span>
                </div>
            </form>
        </div>
        <p>
            <b>주소</b><br/>
            <span class="order_name">홍 길동</span><br/>
            <span class="order_address">서울 서초구 서초동 1303-37 13층</span><br/>
            <span class="order_email">ezen@ezen.com</span><br/>
        </p>
    </div>
    <hr/>
    <div>
        <p><b>결제 방법</b><br/>
        <span class="order_payment">신용카드</span>
    </div>
    <hr/>
    <div>
        <div>
            <span>
                <b>총 주문금액</b>
            </span>
            <span class="pull_right">
                <b>&#8361; <span class="order_price"></span></b>
            </span>
        </div>
        <br/>
        <div>
            <span>
                배송비
            </span>
            <span class="pull_right">
                &#8361; <span class="order_deliveryprice"></span>
            </span>
        </div>
        <hr/>
        <div>
            <p>
                <span>
                    <b>최종 결제금액</b>
                </span>
                <span class="pull_right">
                    <b>&#8361; <span class="order_totalprice"></span></b>
                </span>
            </p>
        </div>							
    </div>
</div>