<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryMapper">

	<!-- Beans의 멤버변수(property) 이름과 대상 테이블의 컬럼(column)을 연결한다. -->
	<resultMap id="CategoryMap"
		type="com.project.laporte.model.Prod_category1">
		<result property="catno1" column="catno1" />
		<result property="catname" column="catname" />
	</resultMap>

	<resultMap id="Category2Map"
		type="com.project.laporte.model.Prod_category2">
		<result property="catno1" column="catno1" />
		<result property="catno2" column="catno2" />
		<result property="catname" column="catname" />
	</resultMap>
	<!-- 카테고리 호출 -->
	<select id="selectList2"
		resultType="com.project.laporte.model.Prod_category2">
		SELECT catno2, catname FROM prod_category2 WHERE
		catno1=#{catno1}
	</select>

	<!-- 카테고리 호출 -->
	<select id="selectList"
		resultType="com.project.laporte.model.Prod_category1">
		SELECT catno1, catname FROM prod_category1
	</select>

</mapper>