@charset "utf-8";

/*공통영역*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:link {
  color: #6f6f70;
}
a:visited {
  color: #6f6f70;
}
a:hover {
  color: #6f6f70;
}
a:active {
  color: #6f6f70;
}
ol,
ul {
  list-style: none;
}
span {
  font-size: 14px;
}

li {
  list-style: none;
}

.content .join_users_head,
.content .out_users_head {
  display: block;
  background-color: #717b86;
  color: #fff;
  width: 90%;
  height: 35px;
  margin: auto;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #dedede;
  font-weight: 800;
}

.content .join_user_li,
.content .out_user_li {
  display: block;
  width: 90%;
  height: 35px;
  margin: auto;
  margin-top: 0;
  padding-top: 5px;
  border-top: 1px solid #dedede;
}

.join_user_li:last-child,
.content .out_user_li:last-child {
  border-bottom: 1px solid #dedede;
  padding-bottom: 5px;
}

.content .join_users_head span,
.content .out_users_head span {
  display: inline-block;
  margin: auto;
  width: 19%;
  text-align: center;
}

.content .join_user_li span,
.content .out_user_li span {
  display: inline-block;
  margin: auto;
  width: 19%;
  text-align: center;
}

.content .join_user_li .delete {
  display: inline-block;
  font-size: 12px;
  margin-left: 76px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

/*공통영역 끝*/
