@charset "UTF-8";

.back {
  display: block;
  width: 23px;
  height: 23px;
  background-image: url(../img/laporte_clipping.png);
  bacground-repeat: no-repeat;
  background-size: 640px 360px;
  background-position: -118px -278px;
  margin: 10px;
  text-indent: -10000px;
}
.cancel_icon {
  display: block;
  width: 25px;
  height: 27px;
  background-image: url(../img/laporte_clipping.png);
  background-size: 640px 360px;
  background-position: -520px -69px;
  margin: auto;
}
.cancel_title h4 {
  margin: auto;
  width: fit-content;
  height: 40px;
  line-height: 40px;
}
.cancel_btn {
  width: 100%;
  background: #172f50;
  border: none;
  padding: 11px 0;
  border-radius: 25px;
  margin: auto;
  display: block;
  font-size: 16px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #33598c;
  border: none;
}
.back_box {
  width: 100%;
  padding: 10px 15px;
  font-weight: bold;
  border-radius: 34px;
  background: #f1f1f1;
  margin: auto;
  cursor: pointer;
}
.back_box:hover {
  background-color: #dedede;
}
#select {
  margin-bottom: 20px;
  height: 45px;
}
.form-horizontal {
  margin-bottom: 10px;
}
a.back_link {
  display: block;
  margin: auto;
  width: fit-content;
  font-weight: normal;
}
.back {
  cursor: pointer;
}
.btn_box {
  margin-bottom: 10px;
}
